#
#   base location of support directories
#
lib.home.dir=/java

# The jaxp interface and a jaxp parser are required
# to build the DOMConfigurator.
#
#   modern equivalents are xml-commons-apis.jar
#     and xerces-j2.jar
#
jaxp.home=${lib.home.dir}/jaxp-1.1
jaxp.jaxp.jar=${jaxp.home}/jaxp.jar
jaxp.parser.jar=${jaxp.home}/crimson.jar

# JavaMail API Required to build the SMTPAppender
javamail.jar=${lib.home.dir}/javamail-1.2/mail.jar

# and JavaBeans Activation Framework
# http://java.sun.com/products/javabeans/jaf/index.jsp
activation.jar=${lib.home.dir}/jaf-1.0.1/activation.jar


# JMS interfaces are required to be on the classpath
# in order to build the JMSAppender.
jms.jar=${lib.home.dir}/JMQ1.1/lib/jms.jar

# Required to build the org.apache.log4j.jmx package.
jmx.jar=${lib.home.dir}/jmx/lib/jmxri.jar
jmx-extra.jar=/${lib.home.dir}/jmx/lib/jmxtools.jar
jndi.jar=${lib.home.dir}/jndi/lib/jndi.jar

# Required to run Checkstyle. Available from http://checkstyle.sf.net
checkstyle.jar=${lib.home.dir}/checkstyle-2.2/checkstyle-all-2.2.jar

# The templates for the creation of the web-pages are inherited 
# from the parent project.
logging-site=../logging-site