<html><body><table cellspacing=0 cellpadding=0>
<TR><TD><B>Level</B></TD><TD>%p</td></tr>
<TR><TD><B>Logger</B><TD>%c</td></tr>
<TR><TD><B>TIme</B><TD>%d</td></tr>
<TR><TD><B>Thread</B><TD>%t</td></tr>
<TR><TD><B>Message</B><TD>%m</td></tr>
<TR><TD><B>Location</B><TD>%l</td></tr>
<TR><TD><B>NDC</B><TD>%x</td></tr>
<TR><TD><B>MDC</B><TD>%X</td></tr>
<TR><TD><B>Class</B><TD>%C</td></tr>
<TR><TD><B>Method</B><TD>%M</td></tr>
<TR><TD><B>Line</B><TD>%L</td></tr>
<TR><TD><B>File</B><TD>%F</td></tr>
<TR><TD><B>Properties</B><TD><em>Properties support is missing from PatternLayout at this time, stay tuned.</em></td></tr>
<TR><TD><B>Throwable</B><TD><em>Throwable Information support is missing from PatternLayout at this time, stay tuned</em></td></tr>
</table></body></html>