<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration debug="true" xmlns='http://logging.apache.org/'>
  
  <appender name="TEST" class="TestAppender">
    <param name="bogus" value="bogus"/>
  </appender>


  <!-- Please adapt the SMTPHost, From and To fields as appropriate 
       for your environment. -->
  <appender name="EMAIL" class="org.apache.log4j.net.SMTPAppender">
    <param name="SMTPHost" value="MAIL.SERVER.EMAIL-ADDRESS.COM"/>
    <param name="To" value="SOURCE@EMAIL-ADDRESS.COM"/>
    <param name="From" value="DESTINATION@EMAIL-ADDRESS.COM"/>
    <param name="BufferSize" value="128"/>
    <param name="Subject" value="${os.name} - %m"/>
    <param name="LocationInfo" value="true"/>
    <layout class="org.apache.log4j.html.HTMLLayout">
      <param name="ConversionPattern" value="%d%5p%t%c%m"/>
    </layout>
  </appender>


  <appender name="FILE" class="org.apache.log4j.FileAppender">

    <param name="File" value="server-side.log"/>
    <param name="Append" value="false"/>

    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%-5p %c - %m%n"/>
    </layout>     
  </appender>

  <logger name="org.apache.log4j.joran.action"> <level value="DEBUG"/></logger>
  <logger name="org.apache.cactus.internal.server"> <level value="INFO"/></logger>


  <root>
    <level value="DEBUG"/>
    <appender-ref ref="FILE" />
    <appender-ref ref="TEST" />
    <appender-ref ref="EMAIL" />
  </root>
</configuration>