H1 {
 color: #2222AA;
}

H2 {
 color: #2222AA;
}

H3 {
 color: #2222AA;
}


A {
  text-decoration: none;
  /* color: #006699;  */
}
A:link {
  text-decoration: none;
  color: #0077AA;
  /* color: #006699;  */
}

A:visited {
  text-decoration: none;
  color: #006699;
}

A:hover {
  text-decoration: underline;
  color: #006699;
}

table #navbar {
  background: #EEEEEE;
  border-top: 1px solid #909090;
  border-left: 1px solid #909090;
  border-right: 1px solid #909090; 
  border-bottom: 1px solid #909090; 
}
