# If you would like to test DBAppender/DBReceiver for MySQL, then
# set the url and user parameters for your local environment and
# copy this file to "mysql.properties".

# The JDBC driver class for MySQL
driverClass=com.mysql.jdbc.Driver
# The DataSource class for MySQL
dataSourceClass=com.mysql.jdbc.jdbc2.optional.MysqlDataSource


# The following parameters should be set for your machine.
url=jdbc:mysql:///test
user=root
password=