<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
   <appender name="Chainsaw" class="org.apache.log4j.chainsaw.ChainsawAppender" />

   <appender name="A2" class="org.apache.log4j.ConsoleAppender">
      <layout class="org.apache.log4j.SimpleLayout" />
   </appender>

   <plugin name="SocketReceiver" class="org.apache.log4j.net.SocketReceiver">
      <param name="Port" value="4445" />
   </plugin>

   <logger name="org.apache.log4j.chainsaw" additivity="false">
      <level value="info" />

<!--<appender-ref ref="A2" />-->
   </logger>

   <root>
      <level value="debug" />

      <appender-ref ref="Chainsaw" />
   </root>
</log4j:configuration>

