 BODY, TABLE, TD,  {
  font-size: 10px;
  color: #000000;
  font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;
}

H1 {

  font-size: 12px;
  font-weight: bold;
}

H2 {
  font-size: 10px;
  font-weight: bold;
}

.TableTitle {
  font-weight: bold;
  background-color: #000089;
  color: #FFFFFF;
}

.HotKey {
  font-weight: bold;
}